.commonfonts{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color:#fff;
    margin: 20px;
    display: grid;
}

.bio{
    display: grid;
    width: 500px;
    grid-template-columns: 50% 50%;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

header{
	color:black;
    padding: 0px;
	text-align: center;
    margin-bottom: 7px;
    grid-template-columns: 25%;
    font-size: larger;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(4, 7%);
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

a:link, a:visited, a:active{
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navfonts:hover {
    text-decoration: none;
    color: black;
}

.imgbtn:visited{
    color: white;
}

.navfonts{
    color: rgb(204, 204, 204);
}

.homebanner{
    display: grid;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 30px;
    background-image: url("https://github.com/joannezeng/joannezeng.github.io/blob/main/html_website_about_banner.jpg?raw=true");
}

.aboutbanner{
    display: grid;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 30px;

    background-image: url("https://github.com/joannezeng/joannezeng.github.io/blob/main/clyde-rs-4XbZCfU2Uoo-unsplash.jpg?raw=true")
}

.workbanner{
    display: grid;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 30px;
    background-image: url("https://github.com/joannezeng/joannezeng.github.io/blob/main/tolga-ahmetler-UWyDCraJVAQ-unsplash.jpg?raw=true");
}

.contactbanner{
    display: grid;
    height: 300px;
    margin-top: 25px;
    margin-bottom: 30px;
    background-image: url("https://github.com/joannezeng/joannezeng.github.io/blob/main/guillaume-galtier-3YrppYQPoCI-unsplash.jpg?raw=true");
}

.bannertext {
    display: grid;
    height: 210px;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 35px;
}

.homeimg{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.homeimgbtns{
    display: grid;
    grid-template-columns: repeat(3, 25%);
    justify-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 5px;
    margin-top: 15px;
}

.aboutlink, .worklink, .contactlink{
    padding: 20px;
    background-color: rgb(154,205,50);
    color: white;
}

.aboutlink:visited, .worklink:visited, .contactlink:visited{
    color: white;
}

.contactform {
    display: grid;
    width: 100%;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

button{
    margin-top: 25px;
}

/*button {
    background-color: rgb(154,205,50);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


